<a href="https://colab.research.google.com/github/cocoisland/python_apps/blob/master/bees/bees_colony.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Save the bees.

### https://data.world/finley/bee-colony-statistical-data-from-1987-2017
### https://usda.library.cornell.edu/concern/publications/rn301137d?locale=en

###Glossary
https://github.com/cocoisland/python_apps/blob/master/bees/data/glossary%20for%20bee%20stats.pdf

###Survey png
https://github.com/cocoisland/python_apps/blob/master/bees/data/Search%20criteria%20for%20bee%20colony%20survey.png

###Census png
https://github.com/cocoisland/python_apps/blob/master/bees/data/Search%20criteria%20for%20bee%20colony%20census.png

In [2]:
import pandas as pd

df_county = pd.read_csv('https://raw.githubusercontent.com/cocoisland/python_apps/master/bees/data/Bee%20Colony%20Census%20Data%20by%20County.csv')
#df_loss = pd.read_excel('finley-bee-colony-statistical-data-from-1987-2017/Bee Colony Loss.xlsx', sheet_name='Sheet1') 
df_loss = pd.read_csv('https://raw.githubusercontent.com/cocoisland/python_apps/master/bees/Bee%20Colony%20Loss.csv')
df_state = pd.read_csv('https://raw.githubusercontent.com/cocoisland/python_apps/master/bees/data/Bee%20Colony%20Survey%20Data%20by%20State.csv')
df_honeybee2 = pd.read_csv('https://raw.githubusercontent.com/cocoisland/python_apps/master/bees/data/vHoneyNeonic_v02.csv')
df_honeybee3 = pd.read_csv('https://raw.githubusercontent.com/cocoisland/python_apps/master/bees/data/vHoneyNeonic_v03.csv')

df_county.shape,  df_state.shape, df_loss.shape, df_honeybee2.shape, df_honeybee3.shape

((7830, 10), (3396, 9), (365, 8), (825, 16), (1132, 17))

In [0]:
df_loss.head()

,Year,Season,State,Total Annual Loss,Beekeepers,Beekeepers Exclusive to State,Colonies,Colonies Exclusive to State
0,2016,Annual,MASSACHUSETTS,15.90%,87,94.30%,27186,2.30%
1,2016,Annual,MONTANA,17.10%,21,52.40%,35905,0.30%
2,2016,Annual,NEVADA,23.00%,13,92.30%,2512,5.20%
3,2016,Annual,MAINE,23.30%,65,93.80%,41102,1.40%
4,2016,Annual,WYOMING,23.40%,18,77.80%,6521,1.40%

In [0]:
df_honeybee3.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,14000.0,66,924000.0,92000.0,0.81,748000.0,1997,Alabama,South,1,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,15000.0,64,960000.0,96000.0,0.87,835000.0,1996,Alabama,South,1,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5
3,AL,18000.0,50,900000.0,99000.0,0.52,468000.0,1994,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,19000.0,45,855000.0,103000.0,0.59,504000.0,1993,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df_honeybee2.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,11000.0,56,616000.0,209000.0,1.49,918000.0,2007,Alabama,South,7696.2,3258.1,4149.6,0.0,0.0,15103.9
1,AL,11000.0,72,792000.0,230000.0,1.21,958000.0,2006,Alabama,South,680.0,4230.2,5371.6,0.0,0.0,10281.8
2,AL,12000.0,86,1032000.0,103000.0,1.18,1218000.0,2002,Alabama,South,0.0,1178.8,840.4,0.0,0.0,2019.2
3,AL,12000.0,87,1044000.0,282000.0,1.41,1472000.0,2004,Alabama,South,2676.4,1323.9,3863.9,0.0,0.0,7864.2
4,AL,13000.0,66,858000.0,266000.0,1.02,875000.0,2005,Alabama,South,1503.6,994.5,5493.9,0.0,0.0,7992.0

In [0]:
df_honeybee2.year.unique()

array([2007, 2006, 2002, 2004, 2005, 2003, 2001, 1998, 2000, 1999, 2017,
       2015, 2016, 2013, 2014, 2012, 2011, 2009, 2010, 2008])

In [0]:
# Convert camel case State to upper case to be the same as upper case State in df_state
df_loss['State']=df_loss['State'].str.upper()

In [0]:
# convert 2016/17 to 2016 to match Year in df_state
df_loss['Year']=df_loss.Year.str[:-3]

In [0]:
df_state.head()

,Year,Period,Week Ending,State,State ANSI,Watershed,Data Item,Value,CV (%)
0,2017,JAN THRU MAR,NaN,ALABAMA,1,NaN,ADDED & REPLACED,570,NaN
1,2017,JAN THRU MAR,NaN,ARIZONA,4,NaN,ADDED & REPLACED,"2,900",NaN
2,2017,JAN THRU MAR,NaN,ARKANSAS,5,NaN,ADDED & REPLACED,430,NaN
3,2017,JAN THRU MAR,NaN,CALIFORNIA,6,NaN,ADDED & REPLACED,"215,000",NaN
4,2017,JAN THRU MAR,NaN,COLORADO,8,NaN,ADDED & REPLACED,100,NaN

In [0]:
df_state.dtypes

Year             int64
Period          object
Week Ending    float64
State           object
State ANSI       int64
Watershed      float64
Data Item       object
Value           object
CV (%)         float64
dtype: object

In [0]:
# convert Value object to float
df_state['Value'] = df_state.Value.str.replace(',','').astype(float)

In [0]:
# convert df_state Year int64 to object type, so that to match df_loss Year type.
df_state['Year'] = df_state.Year.astype(object)

df_state value represents Agriculture value which might have relationship to bees colony.

Hence the intention to sum up total Agriculture value per State-Year and add into df_loss table.

In [0]:
# take ALABAMA as example to sum up value for year 2015
df_state.loc[(df_state['Year'] == 2015) & (df_state['State']=='ALABAMA')]

,Year,Period,Week Ending,State,State ANSI,Watershed,Data Item,Value,CV (%)
270,2015,JAN THRU MAR,NaN,ALABAMA,1,NaN,ADDED & REPLACED,2800.0,NaN
315,2015,APR THRU JUN,NaN,ALABAMA,1,NaN,ADDED & REPLACED,1900.0,NaN
360,2015,JUL THRU SEP,NaN,ALABAMA,1,NaN,ADDED & REPLACED,160.0,NaN
405,2015,OCT THRU DEC,NaN,ALABAMA,1,NaN,ADDED & REPLACED,80.0,NaN
720,2015,JAN THRU MAR,NaN,ALABAMA,1,NaN,"INVENTORY, MAX",7000.0,NaN
765,2015,APR THRU JUN,NaN,ALABAMA,1,NaN,"INVENTORY, MAX",7500.0,NaN
810,2015,JUL THRU SEP,NaN,ALABAMA,1,NaN,"INVENTORY, MAX",9000.0,NaN
855,2015,OCT THRU DEC,NaN,ALABAMA,1,NaN,"INVENTORY, MAX",8000.0,NaN
1438,2015,JAN THRU MAR,NaN,ALABAMA,1,NaN,"LOSS, DEADOUT",1800.0,NaN
1483,2015,APR THRU JUN,NaN,ALABAMA,1,NaN,"LOSS, DEADOUT",860.0,NaN
1528,2015,JUL THRU SEP,NaN,ALABAMA,1,NaN,"LOSS, DEADOUT",1400.0,NaN
1573,2015,OCT THRU DEC,NaN,ALABAMA,1,NaN,"LOSS, DEADOUT",610.0,NaN
1968,2015,MARKETING YEAR,NaN,ALABAMA,1,NaN,INVENTORY,7000.0,NaN
2008,2015,FIRST OF JAN,NaN,ALABAMA,1,NaN,INVENTORY,7000.0,NaN
2053,2015,FIRST OF APR,NaN,ALABAMA,1,NaN,INVENTORY,7500.0,NaN
2098,2015,FIRST OF JUL,NaN,ALABAMA,1,NaN,INVENTORY,8500.0,NaN
2143,2015,FIRST OF OCT,NaN,ALABAMA,1,NaN,INVENTORY,8000.0,NaN

In [0]:
# method 1 : summing up Value as subtotal. But we want total value for State-Year-Period
df_state.groupby(['State','Year','Period','Value']).sum().head(50)

                                     Week Ending  State ANSI  Watershed  \
State   Year Period         Value
ALABAMA 1987 MARKETING YEAR 46000.0          0.0           1        0.0
        1988 MARKETING YEAR 42000.0          0.0           1        0.0
        1989 MARKETING YEAR 41000.0          0.0           1        0.0
        1990 MARKETING YEAR 29000.0          0.0           1        0.0
        1991 MARKETING YEAR 23000.0          0.0           1        0.0
        1992 MARKETING YEAR 25000.0          0.0           1        0.0
        1993 MARKETING YEAR 19000.0          0.0           1        0.0
        1994 MARKETING YEAR 18000.0          0.0           1        0.0
        1995 MARKETING YEAR 16000.0          0.0           1        0.0
        1996 MARKETING YEAR 15000.0          0.0           1        0.0
        1997 MARKETING YEAR 14000.0          0.0           1        0.0
        1998 MARKETING YEAR 16000.0          0.0           1        0.0
        1999 MARKETING YEAR 17000.0          0.0           1        0.0
        2000 MARKETING YEAR 16000.0          0.0           1        0.0
        2001 MARKETING YEAR 14000.0          0.0           1        0.0
        2002 MARKETING YEAR 12000.0          0.0           1        0.0
        2003 MARKETING YEAR 13000.0          0.0           1        0.0
        2004 MARKETING YEAR 12000.0          0.0           1        0.0
        2005 MARKETING YEAR 13000.0          0.0           1        0.0
        2006 MARKETING YEAR 11000.0          0.0           1        0.0
        2007 MARKETING YEAR 11000.0          0.0           1        0.0
        2008 MARKETING YEAR 9000.0           0.0           1        0.0
        2009 MARKETING YEAR 9000.0           0.0           1        0.0
        2010 MARKETING YEAR 9000.0           0.0           1        0.0
        2011 MARKETING YEAR 9000.0           0.0           1        0.0
        2012 MARKETING YEAR 8000.0           0.0           1        0.0
        2013 MARKETING YEAR 7000.0           0.0           1        0.0
        2014 MARKETING YEAR 7000.0           0.0           1        0.0
        2015 APR THRU JUN   860.0            0.0           1        0.0
                            1900.0           0.0           1        0.0
                            7500.0           0.0           1        0.0
             FIRST OF APR   7500.0           0.0           1        0.0
             FIRST OF JAN   7000.0           0.0           1        0.0
             FIRST OF JUL   8500.0           0.0           1        0.0
             FIRST OF OCT   8000.0           0.0           1        0.0
             JAN THRU MAR   1800.0           0.0           1        0.0
                            2800.0           0.0           1        0.0
                            7000.0           0.0           1        0.0
             JUL THRU SEP   160.0            0.0           1        0.0
                            1400.0           0.0           1        0.0
                            9000.0           0.0           1        0.0
             MARKETING YEAR 7000.0           0.0           1        0.0
             OCT THRU DEC   80.0             0.0           1        0.0
                            610.0            0.0           1        0.0
                            8000.0           0.0           1        0.0
        2016 APR THRU JUN   130.0            0.0           1        0.0
                            930.0            0.0           1        0.0
                            1200.0           0.0           1        0.0
                            8000.0           0.0           1        0.0
             FIRST OF APR   8000.0           0.0           1        0.0

                                     CV (%)
State   Year Period         Value
ALABAMA 1987 MARKETING YEAR 46000.0     0.0
        1988 MARKETING YEAR 42000.0     0.0
        1989 MARKETING YEAR 41000.0     0.0
        1990 MARKETING YEAR 29000.0     0.0
        1991 MARKETING YEAR 23000.0     0.0
        1992 MARKETING YEAR 25000.0     0.0
        1993 MARKETING YEAR 19000.0     0.0
        1994 MARKETING YEAR 18000.0     0.0
        1995 MARKETING YEAR 16000.0     0.0
        1996 MARKETING YEAR 15000.0     0.0
        1997 MARKETING YEAR 14000.0     0.0
        1998 MARKETING YEAR 16000.0     0.0
        1999 MARKETING YEAR 17000.0     0.0
        2000 MARKETING YEAR 16000.0     0.0
        2001 MARKETING YEAR 14000.0     0.0
        2002 MARKETING YEAR 12000.0     0.0
        2003 MARKETING YEAR 13000.0     0.0
        2004 MARKETING YEAR 12000.0     0.0
        2005 MARKETING YEAR 13000.0     0.0
        2006 MARKETING YEAR 11000.0     0.0
        2007 MARKETING YEAR 11000.0     0.0
        2008 MARKETING YEAR 9000.0      0.0
        2009 MARKETING YEAR 9000.0      0.0
        2010 MARKETING YEAR 9000.0      0.0
        2011 MARKETING YEAR 9000.0      0.0
        2012 MARKETING YEAR 8000.0      0.0
        2013 MARKETING YEAR 7000.0      0.0
        2014 MARKETING YEAR 7000.0      0.0
        2015 APR THRU JUN   860.0       0.0
                            1900.0      0.0
                            7500.0      0.0
             FIRST OF APR   7500.0      0.0
             FIRST OF JAN   7000.0      0.0
             FIRST OF JUL   8500.0      0.0
             FIRST OF OCT   8000.0      0.0
             JAN THRU MAR   1800.0      0.0
                            2800.0      0.0
                            7000.0      0.0
             JUL THRU SEP   160.0       0.0
                            1400.0      0.0
                            9000.0      0.0
             MARKETING YEAR 7000.0      0.0
             OCT THRU DEC   80.0        0.0
                            610.0       0.0
                            8000.0      0.0
        2016 APR THRU JUN   130.0       0.0
                            930.0       0.0
                            1200.0      0.0
                            8000.0      0.0
             FIRST OF APR   8000.0      0.0

In [0]:
# method 2: summing value as total for State-Year-Period. But subtotal by Period
df_state.Value.groupby([df_state['State'],df_state['Year'],df_state['Period']]).sum().head(50)

State    Year  Period
ALABAMA  1987  MARKETING YEAR    46000.0
         1988  MARKETING YEAR    42000.0
         1989  MARKETING YEAR    41000.0
         1990  MARKETING YEAR    29000.0
         1991  MARKETING YEAR    23000.0
         1992  MARKETING YEAR    25000.0
         1993  MARKETING YEAR    19000.0
         1994  MARKETING YEAR    18000.0
         1995  MARKETING YEAR    16000.0
         1996  MARKETING YEAR    15000.0
         1997  MARKETING YEAR    14000.0
         1998  MARKETING YEAR    16000.0
         1999  MARKETING YEAR    17000.0
         2000  MARKETING YEAR    16000.0
         2001  MARKETING YEAR    14000.0
         2002  MARKETING YEAR    12000.0
         2003  MARKETING YEAR    13000.0
         2004  MARKETING YEAR    12000.0
         2005  MARKETING YEAR    13000.0
         2006  MARKETING YEAR    11000.0
         2007  MARKETING YEAR    11000.0
         2008  MARKETING YEAR     9000.0
         2009  MARKETING YEAR     9000.0
         2010  MARKETING YEAR     9000.0
         2011  MARKETING YEAR     9000.0
         2012  MARKETING YEAR     8000.0
         2013  MARKETING YEAR     7000.0
         2014  MARKETING YEAR     7000.0
         2015  APR THRU JUN      10260.0
               FIRST OF APR       7500.0
               FIRST OF JAN       7000.0
               FIRST OF JUL       8500.0
               FIRST OF OCT       8000.0
               JAN THRU MAR      11600.0
               JUL THRU SEP      10560.0
               MARKETING YEAR     7000.0
               OCT THRU DEC       8690.0
         2016  APR THRU JUN      10260.0
               FIRST OF APR       8000.0
               FIRST OF JAN       7500.0
               FIRST OF JUL       8000.0
               FIRST OF OCT       7000.0
               JAN THRU MAR      11780.0
               JUL THRU SEP      10040.0
               MARKETING YEAR     7000.0
               OCT THRU DEC       7760.0
         2017  APR THRU JUN       8160.0
               FIRST OF APR       6500.0
               FIRST OF JAN       7000.0
               JAN THRU MAR       9420.0
Name: Value, dtype: float64

In [0]:
# summing ALABAMA state and Year 2015 to check method3 total accuracy
10260+7500+7000+8500+8000+11600+10560+7000+8690

79110

In [0]:
# method 3: summing value as total for State-Year. Total by State-Year. 
dfs=df_state.Value.groupby([df_state['State'],df_state['Year']]).sum()

In [0]:
dfs=dfs.reset_index()

In [0]:
# Value per Alabama and 2015 = 79110.0 matched calculated above. Hence result checked out.
dfs.head(30)

      State  Year    Value
0   ALABAMA  1987  46000.0
1   ALABAMA  1988  42000.0
2   ALABAMA  1989  41000.0
3   ALABAMA  1990  29000.0
4   ALABAMA  1991  23000.0
5   ALABAMA  1992  25000.0
6   ALABAMA  1993  19000.0
7   ALABAMA  1994  18000.0
8   ALABAMA  1995  16000.0
9   ALABAMA  1996  15000.0
10  ALABAMA  1997  14000.0
11  ALABAMA  1998  16000.0
12  ALABAMA  1999  17000.0
13  ALABAMA  2000  16000.0
14  ALABAMA  2001  14000.0
15  ALABAMA  2002  12000.0
16  ALABAMA  2003  13000.0
17  ALABAMA  2004  12000.0
18  ALABAMA  2005  13000.0
19  ALABAMA  2006  11000.0
20  ALABAMA  2007  11000.0
21  ALABAMA  2008   9000.0
22  ALABAMA  2009   9000.0
23  ALABAMA  2010   9000.0
24  ALABAMA  2011   9000.0
25  ALABAMA  2012   8000.0
26  ALABAMA  2013   7000.0
27  ALABAMA  2014   7000.0
28  ALABAMA  2015  79110.0
29  ALABAMA  2016  77340.0

In [0]:
dfs.dtypes

State     object
Year       int64
Value    float64
dtype: object

In [0]:
# convert Year int64 to object type, in order to match df_loss Year object type.
dfs['Year']=dfs.Year.astype(object)

In [0]:
df_bees = df_loss[['State','Year']]

In [0]:
df_bees=pd.merge(df_bees, dfs, how='right',left_on=['State','Year'], right_on=['State','Year'])

In [0]:
df_bees.loc[df_bees['State']=='MONTANA']

       State  Year      Value
658  MONTANA  1987    95000.0
659  MONTANA  1988   105000.0
660  MONTANA  1989   100000.0
661  MONTANA  1990    98000.0
662  MONTANA  1991    86000.0
663  MONTANA  1992    87000.0
664  MONTANA  1993    95000.0
665  MONTANA  1994   119000.0
666  MONTANA  1995   106000.0
667  MONTANA  1996   117000.0
668  MONTANA  1997   107000.0
669  MONTANA  1998   115000.0
670  MONTANA  1999   122000.0
671  MONTANA  2000   124000.0
672  MONTANA  2001   136000.0
673  MONTANA  2002   134000.0
674  MONTANA  2003   145000.0
675  MONTANA  2004   140000.0
676  MONTANA  2005   130000.0
677  MONTANA  2006   132000.0
678  MONTANA  2007   135000.0
679  MONTANA  2008   134000.0
680  MONTANA  2009   146000.0
681  MONTANA  2010   157000.0
682  MONTANA  2011   145000.0
683  MONTANA  2012   145000.0
684  MONTANA  2013   159000.0
685  MONTANA  2014   162000.0
686  MONTANA  2015  1018000.0
687  MONTANA  2016  1108420.0
688  MONTANA  2017   414870.0

In [0]:
df_bees['Colonies'] = df_loss['Colonies']

In [0]:
df_bees.head()

     State  Year    Value  Colonies
0  ALABAMA  1987  46000.0   27186.0
1  ALABAMA  1988  42000.0   35905.0
2  ALABAMA  1989  41000.0    2512.0
3  ALABAMA  1990  29000.0   41102.0
4  ALABAMA  1991  23000.0    6521.0

In [0]:
!pip install --upgrade uszipcode
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=False)  # 450MB file starts downloading
capital_dic={
    'AL': 'Montgomery',
    'AK': 'Juneau',
    'AR': 'Little Rock',
    'AZ':'Phoenix',
    'AK':'Little Rock',
    'CA': 'Sacramento',
    'CO':'Denver',
    'CT':'Hartford',
    'DE':'Dover',
    'FL': 'Tallahassee',
    'GA': 'Atlanta',
    'HI': 'Honolulu',
    'ID': 'Boise',
    'IL': 'Springfield',
    'IN': 'Indianapolis',
    'IA': 'Adair',
    'KS': 'Topeka',
    'KY': 'Frankfort',
    'LA': 'Baton Rouge',
    'ME': 'Augusta',
    'MD': 'Annapolis',
    'MA': 'Boston',
    'MI': 'Lansing',
    'MN': 'St. Paul',
    'MS': 'Jackson',
    'MO': 'Jefferson City',
    'MT': 'Helena',
    'NE': 'Lincoln',
    'NV': 'Carson City',
    'NH': 'Concord',
    'NJ': 'Trenton',
    'NM': 'Santa Fe',
    'NY': 'Albany',
    'NC': 'Raleigh',
    'ND': 'Bismarck',
    'OH': 'Columbus',
    'OK': 'Oklahoma City',
    'OR': 'Salem',
    'PA': 'Harrisburg',
    'PR': 'Harrisburg',
    'RI': 'Providence',
    'SC': 'Columbia',
    'SD': 'Pierre',
    'TN': 'Nashville',
    'TX': 'Austin',
    'UT': 'Salt Lake City',
    'VT': 'Montpelier',
    'VA': 'Richmond',
    'WA': 'Olympia',
    'WV': 'Charleston',
    'WI': 'Madison',
    'WY': 'Cheyenne'  
} 
state = 'FL'
z = search.by_city_and_state(city=capital_dic[state], state=state)
z[0].lat, z[0].lng
# (30.43, -84.26)

Collecting uszipcode
  Downloading https://files.pythonhosted.org/packages/34/e1/f828cd05732433d0074a17a2623a8c1281c5dc7fb265fef1d3867692037b/uszipcode-0.2.2-py2.py3-none-any.whl (137kB)
    100% || 143kB 6.9MB/s
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from uszipcode) (2.18.4)
Requirement already satisfied, skipping upgrade: attrs in /usr/local/lib/python3.6/dist-packages (from uszipcode) (19.1.0)
Collecting pathlib-mate (from uszipcode)
  Downloading https://files.pythonhosted.org/packages/ff/f2/a1e6044fe90784e7bbc05286f2e8616aa2ff167f7275f5a6f2df479092c0/pathlib_mate-0.0.15-py2.py3-none-any.whl (195kB)
    100% || 204kB 8.6MB/s
Requirement already satisfied, skipping upgrade: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from uszipcode) (1.3.2)
Requirement already satisfied, skipping upgrade: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (2.6)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (2019.3.9)
Requirement already satisfied, skipping upgrade: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (1.22)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from pathlib-mate->uszipcode) (1.11.0)
Collecting autopep8 (from pathlib-mate->uszipcode)
  Downloading https://files.pythonhosted.org/packages/45/f3/24b437da561b6af4840c871fbbda32889ca304fc1f7b6cc3ada8b09f394a/autopep8-1.4.4.tar.gz (114kB)
    100% || 122kB 35.7MB/s
Collecting pycodestyle>=2.4.0 (from autopep8->pathlib-mate->uszipcode)
  Downloading https://files.pythonhosted.org/packages/0e/0c/04a353e104d2f324f8ee5f4b32012618c1c86dd79e52a433b64fceed511b/pycodestyle-2.5.0-py2.py3-none-any.whl (51kB)
    100% || 51kB 19.5MB/s
Building wheels for collected packages: autopep8
  Building wheel for autopep8 (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/7e/f5/4b/c19e6276126325eb8071b273347c05a830c37a82b9b3b81510
Successfully built autopep8
Installing collected packages: pycodestyle, autopep8, pathlib-mate, uszipcode
Successfully installed autopep8-1.4.4 pathlib-mate-0.0.15 pycodestyle-2.5.0 uszipcode-0.2.2
Start downloading data for rich info zipcode database, total size 450+MB ...
  10 MB finished ...
  20 MB finished ...
  30 MB finished ...
  40 MB finished ...
  50 MB finished ...
  60 MB finished ...
  70 MB finished ...
  80 MB finished ...
  90 MB finished ...
  100 MB finished ...
  110 MB finished ...
  120 MB finished ...
  130 MB finished ...
  140 MB finished ...
  150 MB finished ...
  160 MB finished ...
  170 MB finished ...
  180 MB finished ...
  190 MB finished ...
  200 MB finished ...
  210 MB finished ...
  220 MB finished ...
  230 MB finished ...
  240 MB finished ...
  250 MB finished ...
  260 MB finished ...
  270 MB finished ...
  280 MB finished ...
  290 MB finished ...
  300 MB finished ...
  310 MB finished ...
  320 MB finished ...
  330 MB finished ...
  340 MB finished ...
  350 MB finished ...
  360 MB finished ...
  370 MB finished ...
  380 MB finished ...
  390 MB finished ...
  400 MB finished ...
  410 MB finished ...
  420 MB finished ...
  430 MB finished ...
  440 MB finished ...
  Complete!

(30.43, -84.26)

In [0]:
alist=[]
for st in df_honeybee3.state.unique():
  state = st
  x = search.by_city_and_state(city=capital_dic[state], state=state)
  alist.append([st, x[0].lat, x[0].lng])
  #print(st, x[0].lat)

In [0]:
df_latlng = pd.DataFrame(alist, columns=['state','lat','lng'])

In [0]:
df_honeybee3.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,14000.0,66,924000.0,92000.0,0.81,748000.0,1997,Alabama,South,1,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,15000.0,64,960000.0,96000.0,0.87,835000.0,1996,Alabama,South,1,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5
3,AL,18000.0,50,900000.0,99000.0,0.52,468000.0,1994,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,19000.0,45,855000.0,103000.0,0.59,504000.0,1993,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df_honeybee4 =pd.merge(df_honeybee3, df_latlng, how='right',left_on=['state'], right_on=['state'])

In [0]:
df_honeybee4.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic,lat,lng
0,AL,14000.0,66,924000.0,92000.0,0.81,748000.0,1997,Alabama,South,1,0.0,6704.8,0.0,0.0,0.0,6704.8,32.4,-86.33
1,AL,15000.0,64,960000.0,96000.0,0.87,835000.0,1996,Alabama,South,1,0.0,371.6,0.0,0.0,0.0,371.6,32.4,-86.33
2,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5,32.4,-86.33
3,AL,18000.0,50,900000.0,99000.0,0.52,468000.0,1994,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN,32.4,-86.33
4,AL,19000.0,45,855000.0,103000.0,0.59,504000.0,1993,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN,32.4,-86.33

In [0]:
df_honeytransfer=df_honeybee4[['StateName','year','nCLOTHIANIDIN','nIMIDACLOPRID','nTHIAMETHOXAM','nACETAMIPRID','nTHIACLOPRID','nAllNeonic','lat','lng']]

In [0]:
df_honeytransfer['StateName']=df_honeytransfer.StateName.str.upper()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
df_bees.dtypes

State        object
Year         object
Value       float64
Colonies    float64
dtype: object

In [0]:
df_honeytransfer['year']=df_honeytransfer.year.astype(object)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
df_bees1=pd.merge(df_bees, df_honeytransfer, how='right',left_on=['State','Year'], right_on=['StateName','year'])

In [0]:
df_bees1 = df_bees1.drop(['StateName','year'],axis=1)

In [0]:
df_bees1.head(10)

,State,Year,Value,Colonies,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic,lat,lng
0,ALABAMA,1991,23000.0,6521.0,NaN,NaN,NaN,NaN,NaN,NaN,32.4,-86.33
1,ALABAMA,1992,25000.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,32.4,-86.33
2,ALABAMA,1993,19000.0,17802.0,NaN,NaN,NaN,NaN,NaN,NaN,32.4,-86.33
3,ALABAMA,1994,18000.0,993.0,NaN,NaN,NaN,NaN,NaN,NaN,32.4,-86.33
4,ALABAMA,1995,16000.0,76794.0,0.0,716.5,0.0,0.0,0.0,716.5,32.4,-86.33
5,ALABAMA,1996,15000.0,95872.0,0.0,371.6,0.0,0.0,0.0,371.6,32.4,-86.33
6,ALABAMA,1997,14000.0,15800.0,0.0,6704.8,0.0,0.0,0.0,6704.8,32.4,-86.33
7,ALABAMA,1998,16000.0,7246.0,0.0,1836.3,0.0,0.0,0.0,1836.3,32.4,-86.33
8,ALABAMA,1999,17000.0,383369.0,0.0,1251.2,0.0,0.0,0.0,1251.2,32.4,-86.33
9,ALABAMA,2000,16000.0,38443.0,0.0,1499.2,0.0,0.0,0.0,1499.2,32.4,-86.33

In [0]:
df_bees2 = df_bees1.dropna()

In [0]:
df_bees1.shape, df_bees2.shape

((1132, 12), (224, 12))

In [0]:
df_bees2

,State,Year,Value,Colonies,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic,lat,lng
4,ALABAMA,1995,16000.0,76794.0,0.0,716.5,0.0,0.0,0.0,716.5,32.400,-86.33
5,ALABAMA,1996,15000.0,95872.0,0.0,371.6,0.0,0.0,0.0,371.6,32.400,-86.33
6,ALABAMA,1997,14000.0,15800.0,0.0,6704.8,0.0,0.0,0.0,6704.8,32.400,-86.33
7,ALABAMA,1998,16000.0,7246.0,0.0,1836.3,0.0,0.0,0.0,1836.3,32.400,-86.33
8,ALABAMA,1999,17000.0,383369.0,0.0,1251.2,0.0,0.0,0.0,1251.2,32.400,-86.33
9,ALABAMA,2000,16000.0,38443.0,0.0,1499.2,0.0,0.0,0.0,1499.2,32.400,-86.33
10,ALABAMA,2001,14000.0,345567.0,0.0,1490.8,0.0,0.0,0.0,1490.8,32.400,-86.33
11,ALABAMA,2002,12000.0,29626.0,0.0,1178.8,840.4,0.0,0.0,2019.2,32.400,-86.33
12,ALABAMA,2003,13000.0,35433.0,0.0,668.3,591.7,0.0,0.0,1260.0,32.400,-86.33
13,ALABAMA,2004,12000.0,14949.0,2676.4,1323.9,3863.9,0.0,0.0,7864.2,32.400,-86.33
14,ALABAMA,2005,13000.0,1177.0,1503.6,994.5,5493.9,0.0,0.0,7992.0,32.400,-86.33
15,ALABAMA,2006,11000.0,60699.0,680.0,4230.2,5371.6,0.0,0.0,10281.8,32.400,-86.33
16,ALABAMA,2007,11000.0,573.0,7696.2,3258.1,4149.6,0.0,0.0,15103.9,32.400,-86.33
17,ALABAMA,2008,9000.0,359.0,1598.3,3296.6,4214.5,0.0,0.0,9109.4,32.400,-86.33
18,ALABAMA,2009,9000.0,5970.0,5087.2,3991.9,4076.2,0.0,0.0,13155.3,32.400,-86.33
19,ALABAMA,2010,9000.0,163861.0,1914.0,1757.0,4658.3,0.0,0.0,8329.3,32.400,-86.33
20,ALABAMA,2011,9000.0,106.0,10106.1,5229.8,7148.1,0.0,0.0,22484.0,32.400,-86.33
21,ALABAMA,2012,8000.0,2717.0,4797.8,6249.1,7002.6,0.0,0.0,18049.5,32.400,-86.33
22,ALABAMA,2013,7000.0,85387.0,5992.9,8284.4,5202.0,0.0,0.0,19479.3,32.400,-86.33
23,ALABAMA,2014,7000.0,3183.0,7971.6,12194.1,4745.4,0.0,0.0,24911.1,32.400,-86.33
24,ALABAMA,2015,79110.0,3603.0,56.2,10919.3,1101.6,0.0,0.0,12077.1,32.400,-86.33
30,ARIZONA,1994,53000.0,27486.0,0.0,2653.2,0.0,0.0,0.0,2653.2,33.450,-112.08
31,ARIZONA,1995,52000.0,15517.0,0.0,8260.6,0.0,0.0,0.0,8260.6,33.450,-112.08
32,ARIZONA,1996,32000.0,3302.0,0.0,6156.9,0.0,0.0,0.0,6156.9,33.450,-112.08
33,ARIZONA,1997,42000.0,6246.0,0.0,10204.2,0.0,0.0,0.0,10204.2,33.450,-112.08
34,ARIZONA,1998,55000.0,5582.0,0.0,4814.2,0.0,0.0,0.0,4814.2,33.450,-112.08
35,ARIZONA,1999,52000.0,906.0,0.0,5171.6,0.0,0.0,0.0,5171.6,33.450,-112.08
36,ARIZONA,2000,40000.0,757.0,0.0,10467.4,0.0,0.0,0.0,10467.4,33.450,-112.08
37,ARIZONA,2001,43000.0,427.0,0.0,3713.1,19.6,0.0,0.0,3732.7,33.450,-112.08
38,ARIZONA,2002,38000.0,528.0,0.0,6235.4,562.2,141.6,0.0,6939.2,33.450,-112.08
...,...,...,...,...,...,...,...,...,...,...,...,...
266,ILLINOIS,2014,8000.0,16311.0,278498.8,85852.3,38568.4,92.1,0.0,403011.6,39.801,-89.65
267,ILLINOIS,2015,116690.0,21210.0,17.1,6849.6,15849.1,80.9,0.0,22796.7,39.801,-89.65
268,ILLINOIS,2016,95250.0,11507.0,2.5,8139.3,2710.1,0.0,0.0,10851.9,39.801,-89.65
274,INDIANA,1995,12000.0,653.0,0.0,81.3,0.0,0.0,0.0,81.3,39.780,-86.11
275,INDIANA,1996,9000.0,430.0,0.0,617.8,0.0,0.0,0.0,617.8,39.780,-86.11
276,INDIANA,1997,8000.0,6519.0,0.0,414.7,0.0,0.0,0.0,414.7,39.780,-86.11
277,INDIANA,1998,9000.0,6987.0,0.0,93.1,0.0,0.0,0.0,93.1,39.780,-86.11
278,INDIANA,1999,10000.0,466.0,0.0,458.3,0.0,0.0,0.0,458.3,39.780,-86.11
279,INDIANA,2000,8000.0,130488.0,0.0,228.9,0.0,0.0,0.0,228.9,39.780,-86.11
280,INDIANA,2001,7000.0,120352.0,0.0,393.3,0.0,0.0,0.0,393.3,39.780,-86.11
281,INDIANA,2002,8000.0,415.0,0.0,255.7,30.2,0.0,0.0,285.9,39.780,-86.11
282,INDIANA,2003,5000.0,741.0,0.0,441.8,69.0,65.5,0.0,576.3,39.780,-86.11
283,INDIANA,2004,7000.0,175.0,18854.2,3633.8,2092.6,66.7,83.6,24730.9,39.780,-86.11
284,INDIANA,2005,8000.0,41.0,39014.6,2692.9,6777.0,41.7,24.5,48550.7,39.780,-86.11
285,INDIANA,2006,7000.0,948.0,28214.9,4295.6,10034.6,32.6,53.1,42630.8,39.780,-86.11
286,INDIANA,2007,8000.0,1491.0,45215.8,7096.6,10117.2,40.6,10.2,62480.4,39.780,-86.11
287,INDIANA,2008,7000.0,3451.0,37050.8,2742.7,10810.1,20.2,18.6,50642.4,39.780,-86.11
288,INDIANA,2009,9000.0,38378.0,37115.0,13889.8,15124.8,76.8,19.8,66226.2,39.780,-86.11
289,INDIANA,2010,10000.0,30618.0,38671.5,50011.9,16785.9,30.8,13.7,105513.8,39.780,-86.11
290,INDIANA,2011,8000.0,666.0,56387.8,53736.8,15199.8,45.6,4.3,125374.3,39.780,-86.11
291,INDIANA,2012,8000.0,2802.0,108503.1,52850.4,19470.2,28.2,1.7,180853.6,39.780,-86.11
292,INDIANA,2013,6000.0,765.0,123068.8,37155.9,23874.4,27.6,0.0,184126.7,39.780,-86.11
293,INDIANA,2014,5000.0,113.0,149287.3,66659.6,18844.2,56.8,0.4,234848.3,39.780,-86.11
294,INDIANA,2015,111030.0,13624.0,7.1,2418.8,1287.9,38.3,0.0,3752.1,39.780,-86.11
295,INDIANA,2016,71630.0,1019.0,6.4,1768.4,937.9,35.3,0.0,2748.0,39.780,-86.11
301,IOWA,1995,45000.0,12.0,0.0,23.7,0.0,0.0,0.0,23.7,41.500,-94.70
302,IOWA,1996,52000.0,6.0,0.0,38.6,0.0,0.0,0.0,38.6,41.500,-94.70
303,IOWA,1997,45000.0,4.0,0.0,47.7,0.0,0.0,0.0,47.7,41.500,-94.70
304,IOWA,1998,50000.0,3883.0,0.0,322.4,0.0,0.0,0.0,322.4,41.500,-94.70
305,IOWA,1999,40000.0,3581.0,0.0,65.5,0.0,0.0,0.0,65.5,41.500,-94.70

In [0]:
df_bees2.to_csv('bees_final.csv')

In [0]:
!ls

bees2.csv  bees_final.csv  sample_data

In [0]:
from google.colab import files
files.download('bees_final.csv')