<a href="https://colab.research.google.com/github/cocoisland/python_apps/blob/master/bees/bees_colony.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Save the bees.

### https://data.world/finley/bee-colony-statistical-data-from-1987-2017
### https://usda.library.cornell.edu/concern/publications/rn301137d?locale=en

###Glossary
https://github.com/cocoisland/python_apps/blob/master/bees/finley-bee-colony-statistical-data-from-1987-2017/glossary%20for%20bee%20stats.pdf

###Survey png
https://github.com/cocoisland/python_apps/blob/master/bees/finley-bee-colony-statistical-data-from-1987-2017/Search%20criteria%20for%20bee%20colony%20survey.png

###Census png
https://github.com/cocoisland/python_apps/blob/master/bees/finley-bee-colony-statistical-data-from-1987-2017/Search%20criteria%20for%20bee%20colony%20census.png

In [1]:
import pandas as pd

df_county = pd.read_csv('https://raw.githubusercontent.com/cocoisland/python_apps/master/bees/finley-bee-colony-statistical-data-from-1987-2017/Bee%20Colony%20Census%20Data%20by%20County.csv')
#df_loss = pd.read_excel('finley-bee-colony-statistical-data-from-1987-2017/Bee Colony Loss.xlsx', sheet_name='Sheet1') 
df_loss = pd.read_csv('https://raw.githubusercontent.com/cocoisland/python_apps/master/bees/Bee%20Colony%20Loss.csv')
df_state = pd.read_csv('https://raw.githubusercontent.com/cocoisland/python_apps/master/bees/finley-bee-colony-statistical-data-from-1987-2017/Bee%20Colony%20Survey%20Data%20by%20State.csv')

df_county.shape,  df_state.shape, df_loss.shape

((7830, 10), (3396, 9), (365, 8))

In [54]:
df_loss.head()

   Year  Season          State Total Annual Loss  Beekeepers Beekeepers Exclusive to State  Colonies Colonies Exclusive to State
0  2016  Annual  MASSACHUSETTS            15.90%          87                        94.30%     27186                       2.30%
1  2016  Annual        MONTANA            17.10%          21                        52.40%     35905                       0.30%
2  2016  Annual         NEVADA            23.00%          13                        92.30%      2512                       5.20%
3  2016  Annual          MAINE            23.30%          65                        93.80%     41102                       1.40%
4  2016  Annual        WYOMING            23.40%          18                        77.80%      6521                       1.40%

In [0]:
# Convert camel case State to upper case to be the same as upper case State in df_state
df_loss['State']=df_loss['State'].str.upper()

In [0]:
# convert 2016/17 to 2016 to match Year in df_state
df_loss['Year']=df_loss.Year.str[:-3]

In [23]:
df_state.head()

,Year,Period,Week Ending,State,State ANSI,Watershed,Data Item,Value,CV (%)
0,2017,JAN THRU MAR,NaN,ALABAMA,1,NaN,ADDED & REPLACED,570,NaN
1,2017,JAN THRU MAR,NaN,ARIZONA,4,NaN,ADDED & REPLACED,"2,900",NaN
2,2017,JAN THRU MAR,NaN,ARKANSAS,5,NaN,ADDED & REPLACED,430,NaN
3,2017,JAN THRU MAR,NaN,CALIFORNIA,6,NaN,ADDED & REPLACED,"215,000",NaN
4,2017,JAN THRU MAR,NaN,COLORADO,8,NaN,ADDED & REPLACED,100,NaN

In [36]:
df_state.dtypes

Year             int64
Period          object
Week Ending    float64
State           object
State ANSI       int64
Watershed      float64
Data Item       object
Value           object
CV (%)         float64
dtype: object

In [0]:
# convert Value object to float
df_state['Value'] = df_state.Value.str.replace(',','').astype(float)

In [7]:
df_state.State.unique(), df_state.Year.unique(), df_state.Period.unique()

(array(['ALABAMA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO',
        'CONNECTICUT', 'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS',
        'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE',
        'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA',
        'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEW JERSEY',
        'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO',
        'OKLAHOMA', 'OREGON', 'PENNSYLVANIA', 'SOUTH CAROLINA',
        'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT',
        'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING',
        'NEVADA', 'DELAWARE', 'NEW HAMPSHIRE', 'RHODE ISLAND'],
       dtype=object),
 array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
        2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996,
        1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987]),
 array(['JAN THRU MAR', 'APR THRU JUN', 'JUL THRU SEP', 'OCT THRU DEC',
        'MARKETING YEAR', 'FIRST OF JAN', 'FIRST OF APR', 'FIRST OF JUL',
        'FIRST OF OCT'], dtype=object))

In [0]:
# To sum up agriculture value based on state, year and period
dfs=df_state[['Period','Year','State','Value']].copy()

In [0]:
import pandas as pd
pd.set_option('display.max_rows', 100)
#pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [0]:
# take ALABAMA as example to sum up value for year 2015
dfs.loc[(dfs['Year'] == 2015) & (dfs['State']=='ALABAMA')]

In [0]:
# method 1 : summing up Value as subtotal. But we want total value for State-Year-Period
dfs.groupby(['State','Year','Period','Value']).sum()

In [0]:
# method 2: summing value as total for State-Year-Period
dfV=df_state.Value.groupby([df_state['State'],df_state['Year'],df_state['Period']]).sum()

In [53]:
dfV.head(50)

State    Year  Period
ALABAMA  1987  MARKETING YEAR    46000.0
         1988  MARKETING YEAR    42000.0
         1989  MARKETING YEAR    41000.0
         1990  MARKETING YEAR    29000.0
         1991  MARKETING YEAR    23000.0
         1992  MARKETING YEAR    25000.0
         1993  MARKETING YEAR    19000.0
         1994  MARKETING YEAR    18000.0
         1995  MARKETING YEAR    16000.0
         1996  MARKETING YEAR    15000.0
         1997  MARKETING YEAR    14000.0
         1998  MARKETING YEAR    16000.0
         1999  MARKETING YEAR    17000.0
         2000  MARKETING YEAR    16000.0
         2001  MARKETING YEAR    14000.0
         2002  MARKETING YEAR    12000.0
         2003  MARKETING YEAR    13000.0
         2004  MARKETING YEAR    12000.0
         2005  MARKETING YEAR    13000.0
         2006  MARKETING YEAR    11000.0
         2007  MARKETING YEAR    11000.0
         2008  MARKETING YEAR     9000.0
         2009  MARKETING YEAR     9000.0
         2010  MARKETING YEAR     9000.0
         2011  MARKETING YEAR     9000.0
         2012  MARKETING YEAR     8000.0
         2013  MARKETING YEAR     7000.0
         2014  MARKETING YEAR     7000.0
         2015  APR THRU JUN      10260.0
               FIRST OF APR       7500.0
               FIRST OF JAN       7000.0
               FIRST OF JUL       8500.0
               FIRST OF OCT       8000.0
               JAN THRU MAR      11600.0
               JUL THRU SEP      10560.0
               MARKETING YEAR     7000.0
               OCT THRU DEC       8690.0
         2016  APR THRU JUN      10260.0
               FIRST OF APR       8000.0
               FIRST OF JAN       7500.0
               FIRST OF JUL       8000.0
               FIRST OF OCT       7000.0
               JAN THRU MAR      11780.0
               JUL THRU SEP      10040.0
               MARKETING YEAR     7000.0
               OCT THRU DEC       7760.0
         2017  APR THRU JUN       8160.0
               FIRST OF APR       6500.0
               FIRST OF JAN       7000.0
               JAN THRU MAR       9420.0
Name: Value, dtype: float64

In [60]:
# summing ALABAMA state and Year 2015 to check method3 total accuracy
10260+7500+7000+8500+8000+11600+10560+7000+8690

79110

In [0]:
# method 3: summing value as total for State-Year
dfs=df_state.Value.groupby([df_state['State'],df_state['Year']]).sum()

In [0]:
dfs=dfs.reset_index()

In [114]:
dfs.head()

     State  Year    Value
0  ALABAMA  1987  46000.0
1  ALABAMA  1988  42000.0
2  ALABAMA  1989  41000.0
3  ALABAMA  1990  29000.0
4  ALABAMA  1991  23000.0

In [115]:
type(dfs)

pandas.core.frame.DataFrame

In [120]:
dfs.dtypes

State     object
Year      object
Value    float64
dtype: object

In [0]:
dfs['Year']=dfs.Year.astype(object)

In [118]:
dfl.dtypes

State    object
Year     object
dtype: object

In [121]:
dfl.merge(dfs, on=['State','Year'])

Empty DataFrame
Columns: [State, Year, Value]
Index: []

In [122]:
dfl

                    State  Year
0           MASSACHUSETTS  2016
1                 MONTANA  2016
2                  NEVADA  2016
3                   MAINE  2016
4                 WYOMING  2016
5                  HAWAII  2016
6             MISSISSIPPI  2016
7           WEST VIRGINIA  2016
8                   IDAHO  2016
9                 FLORIDA  2016
10              WISCONSIN  2016
11         NORTH CAROLINA  2016
12             CALIFORNIA  2016
13                GEORGIA  2016
14    MULTISTATEOPERATION  2016
15           SOUTH DAKOTA  2016
16                 OREGON  2016
17               MICHIGAN  2016
18               MISSOURI  2016
19                  TEXAS  2016
20                ALABAMA  2016
21             NEW MEXICO  2016
22              LOUISIANA  2016
23           NORTH DAKOTA  2016
24   DISTRICT OF COLUMBIA  2016
25                   OHIO  2016
26             WASHINGTON  2016
27               ARKANSAS  2016
28               KENTUCKY  2016
29                INDIANA  2016
30             NEW JERSEY  2016
31               NEW YORK  2016
32               VIRGINIA  2016
33           RHODE ISLAND  2016
34                 KANSAS  2016
35               COLORADO  2016
36                VERMONT  2016
37              TENNESSEE  2016
38              MINNESOTA  2016
39           PENNSYLVANIA  2016
40                   UTAH  2016
41         SOUTH CAROLINA  2016
42               MARYLAND  2016
43               ILLINOIS  2016
44          NEW HAMPSHIRE  2016
45            CONNECTICUT  2016
46                ARIZONA  2016
47                   IOWA  2016
48               NEBRASKA  2016
49               DELAWARE  2016
..                    ...   ...
315              NEBRASKA  2010
316               MONTANA  2010
317                OREGON  2010
318            WASHINGTON  2010
319                 IDAHO  2010
320               ARIZONA  2010
321        SOUTH CAROLINA  2010
322               VERMONT  2010
323              MISSOURI  2010
324                  UTAH  2010
325          NORTH DAKOTA  2010
326            NEW JERSEY  2010
327              ARKANSAS  2010
328                 TEXAS  2010
329              OKLAHOMA  2010
330              KENTUCKY  2010
331               INDIANA  2010
332             WISCONSIN  2010
333         NEW HAMPSHIRE  2010
334            CALIFORNIA  2010
335   MULTISTATEOPERATION  2010
336             TENNESSEE  2010
337              COLORADO  2010
338                KANSAS  2010
339              DELAWARE  2010
340                  OHIO  2010
341              VIRGINIA  2010
342        NORTH CAROLINA  2010
343             MINNESOTA  2010
344           MISSISSIPPI  2010
345           CONNECTICUT  2010
346          SOUTH DAKOTA  2010
347              MARYLAND  2010
348          RHODE ISLAND  2010
349               FLORIDA  2010
350              ILLINOIS  2010
351         MASSACHUSETTS  2010
352             LOUISIANA  2010
353              NEW YORK  2010
354          PENNSYLVANIA  2010
355         WEST VIRGINIA  2010
356                  IOWA  2010
357              MICHIGAN  2010
358               GEORGIA  2010
359                 MAINE  2010
360           PUERTO RICO  2010
361                ALASKA  2010
362  DISTRICT OF COLUMBIA  2010
363               WYOMING  2010
364                NEVADA  2010

[365 rows x 2 columns]